#bridge-info-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#bridge-info-panel {
  flex: 1;
  height: 100%;
  width: 100%;

  background-color: #A6CC8B;
  color: #686950;
  border-bottom: solid 2px #686950;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#leaflet-map {
  flex: 5;
  height: 100%;
  width: 100%;
}
