<!--
  NOTE: we aren't limited to a single root element in a component
  as we are with React.  We can access the root element that hosts
  our component via the `:host` pseudo-selector.  However, to keep
  yourself sane moving between React and Angular, you might decide
  to always include a single root element
-->
<div id="app">
  <app-menu
    id="menu">
  </app-menu>

  <div id="bridge-info">
    <router-outlet></router-outlet>
    <!-- Routed component tree will get mounted here, after router-outlet -->
  </div>
</div>
