# NOTE: we don't put .env in git. Copy this file to .env to create your own

# How many salt rounds to use with bcrypt, aiming for ~1 second
SALT_ROUNDS=14

# JWT Secret
JWT_SECRET=super-secret-change-me!!!!

# How long until the JWT expires
JWT_EXPIRES_IN=7d
